<!DOCTYPE html>
<html>
  <head>
    <title>Canteen Reservation System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<style>
 body {
  background: url('<%= asset_path("canteen.jpeg") %>') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}
</style>

  <body>
    <div class="container">
      <div class="overlay">
        <div class="container text-center">
          <img src="<%= asset_path('uel.png') %>" alt="Logo" class="logo" />
        </div>
        <% if current_user&.student? %>
          <h1>Welcome, <%= current_user.first_name %>!</h1>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: '' %>
          </br>
          <button 
            class=""
            onclick="window.location.href='<%= student_root_path %>'">
            Meals
          </button>
          <button
            class=""
            onclick="window.location.href='<%= reservations_path(current_user.id) %>'">
            Reservations
          </button>
          </br>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
